# Ignore environment variable files
.env

# Ignore node modules
node_modules/

# Optional: Ignore log files
*.log
npm-debug.log*

# Optional: Ignore build files (agar server compile hota ho)
dist/
build/